.sideBar {
  /* position: absolute; */
  background: var(--blue);
  /* top: 0; */
  height: 100vh;
  display: grid;
  padding: 1.6rem;
  position: relative;
  box-shadow: 8px 0 10px rgba(0,0,0, 0.08);

}
.sideBarIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.sideBarIcons a:first-child:before {
  content: '';
  position: absolute;
  display: inline-block;
  background: white;
  width: 6px;
  height: 32px;
  border-radius: 0 50% 50% 0;
  left: 0;
}